[client]
#password       = your_password
port            = 3306
socket          = /tmp/mysql.3306.sock


# The MySQL server
[mysqld]
#common
#explicit_defaults_for_timestamp
server-id       = 110032
character_set_server=utf8
user = mysql
bind_address=0.0.0.0
port            = 3306
socket          = /tmp/mysql.3306.sock
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data_3306

skip-ssl
log_timestamps=SYSTEM
skip_external_locking
skip_name_resolve
max_connections = 2000
open-files-limit = 100000
table_open_cache = 100000
back_log = 500
max_connect_errors = 50000
max_allowed_packet = 128M
table_open_cache = 2000
thread_cache_size = 100

#query cache
query_cache_size = 0
query_cache_type = 0


#myisam
key_buffer_size = 1G
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 8M

#innodb
default_storage_engine=InnoDB
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 4
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 512M
innodb_io_capacity=5000
#innodb_numa_interleave=ON

#slow log
slave-skip-errors = 1062,1053,ddl_exist_errors
slow_query_log = 1
long_query_time = 5
slow-query-log-file = slow_queries.log

#for GTID support
gtid_mode=ON
log-bin=mysql-bin
binlog-format=ROW
expire_logs_days = 5
relay_log=relay-bin
log-slave-updates=1
enforce-gtid-consistency=1
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=100
sync_relay_log_info=100
relay-log-recovery=ON
relay-log-purge=1
slave-parallel-workers=16
slave-parallel-type=LOGICAL_CLOCK
master-verify-checksum=1
slave-sql-verify-checksum=1
slave-pending-jobs-size-max=128M
slave-net-timeout=600
#read_only=1
skip-slave-start


[mysqldump]
quick
max_allowed_packet = 128M

[mysql]
no-auto-rehash
safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqld_safe]
malloc-lib=/usr/lib64/libtcmalloc_minimal.so